/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-oct-2014, 14:44:57
    Author     : pedro
*/


#main{
      
      margin: auto;
      margin-top: 2.5em;
  }
  
#detallesEvento{
    width: 80%;
    margin: auto;       
}

#detallesEvento article{
   
   width: 100%;
    padding: 0.63em;
    color: #000;
    font-family: sourcesans;
    
    border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    box-shadow: 0px 2px 2px #000;
        -moz-box-shadow: 0px 2px 2px #000;   
        -webkit-box-shadow: 0px 2px 2px #000;
        
    background: rgb(70,121,58); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(70,121,58,1) 0%, rgba(45,76,30,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,121,58,1)), color-stop(100%,rgba(45,76,30,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46793a', endColorstr='#2d4c1e',GradientType=0 ); /* IE6-9 */
    



}

#detallesEvento article .titulo{
    font-size: 1.25em;
    font-family: sourcesans;
    padding: 0.63em;
    color:#ffffff;
    margin-bottom: 0.313em;
    margin-left: 0.63em;
    margin-right: 0.63em;
    border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    
    background: rgb(96,116,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(96,116,242,1) 0%, rgba(64,67,135,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,116,242,1)), color-stop(100%,rgba(64,67,135,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(96,116,242,1) 0%,rgba(64,67,135,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(96,116,242,1) 0%,rgba(64,67,135,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(96,116,242,1) 0%,rgba(64,67,135,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(96,116,242,1) 0%,rgba(64,67,135,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6074f2', endColorstr='#404387',GradientType=0 ); /* IE6-9 */
}

#galeria{
       display:inline-block; 
       width: 45%;
       margin: 0.63em 0.6em 0px 0.63em;
       vertical-align: top;
  }
  
  #lightbox-container-image-box {
  width: 420px !important;
  height: auto !important;
  
}
#lightbox-container-image-data-box {
  width: 420px !important;
}
#lightbox-image {
  /*height: 440px;*/
  width: 400px;
}

#detallesEvento article .imag{
    width: 97%;
    /*height: 350px;*/
    border: solid 4px #ffffff;
    /*margin: 10px 20px 0px 10px;*/
    
}

#detallesEvento article #lista{
    width: 50%;
    display:inline-block;
     
  }
  
  .listaDetalles, #descripcion{
    
    list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}
  
#detallesEvento article li{
    line-height:1.2em;
    margin-bottom: 1em;
  }
 
#detallesEvento article #datosNegocio{
      border-bottom: solid 4px #0033cc;
      margin-bottom: 0.3em;
      padding-top: 0.63em;
      padding-bottom: 0.63em;
      
  }
  
  #detallesEvento article #datosEvento{
     
      padding-top: 0.4em;
      
  }
  
  #detallesEvento article #descripcion{
      padding: 1em 1.3em;
      text-align: justify;
       
  }
   #detallesEvento article #descri{
     
      line-height:1.56em;
      
      
  }
  
  #detallesEvento article span{
     
      color: #ffffff;
      
  }

.oculto{
    display: none;
}

#iconos {
    width: 60%;
    margin: auto;
    
   background: -moz-linear-gradient(top,  rgba(19,109,17,0) 0%, rgba(19,109,17,0.8) 18%, rgba(19,109,17,1) 29%, rgba(19,109,17,1) 30%, rgba(70,173,50,1) 50%, rgba(22,113,19,1) 67%, rgba(19,109,17,0.98) 68%, rgba(19,109,17,0.8) 78%, rgba(19,109,17,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,109,17,0)), color-stop(18%,rgba(19,109,17,0.8)), color-stop(29%,rgba(19,109,17,1)), color-stop(30%,rgba(19,109,17,1)), color-stop(50%,rgba(70,173,50,1)), color-stop(67%,rgba(22,113,19,1)), color-stop(68%,rgba(19,109,17,0.98)), color-stop(78%,rgba(19,109,17,0.8)), color-stop(100%,rgba(19,109,17,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(19,109,17,0) 0%,rgba(19,109,17,0.8) 18%,rgba(19,109,17,1) 29%,rgba(19,109,17,1) 30%,rgba(70,173,50,1) 50%,rgba(22,113,19,1) 67%,rgba(19,109,17,0.98) 68%,rgba(19,109,17,0.8) 78%,rgba(19,109,17,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(19,109,17,0) 0%,rgba(19,109,17,0.8) 18%,rgba(19,109,17,1) 29%,rgba(19,109,17,1) 30%,rgba(70,173,50,1) 50%,rgba(22,113,19,1) 67%,rgba(19,109,17,0.98) 68%,rgba(19,109,17,0.8) 78%,rgba(19,109,17,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(19,109,17,0) 0%,rgba(19,109,17,0.8) 18%,rgba(19,109,17,1) 29%,rgba(19,109,17,1) 30%,rgba(70,173,50,1) 50%,rgba(22,113,19,1) 67%,rgba(19,109,17,0.98) 68%,rgba(19,109,17,0.8) 78%,rgba(19,109,17,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(19,109,17,0) 0%,rgba(19,109,17,0.8) 18%,rgba(19,109,17,1) 29%,rgba(19,109,17,1) 30%,rgba(70,173,50,1) 50%,rgba(22,113,19,1) 67%,rgba(19,109,17,0.98) 68%,rgba(19,109,17,0.8) 78%,rgba(19,109,17,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00136d11', endColorstr='#00136d11',GradientType=0 ); /* IE6-9 */


    
}

#iconos td{
    width: 33.33%;
    
}

.metaforaAsistir{
    text-align: right;
    font-size: 1.25em;
}

.metaforaAsistir #aAsistirBandera{
    color: #ffb64b ;  
    
}

.metaforaAsistir #aAsistir{
    color: #000 ;  
}

.metaforaAsistir .asistir{
    vertical-align: middle;  
    
}

section#comentarios{
    width: 80%;
    margin: auto;       
}

#comentarios article#articleComentario{
    
    margin-top: 2.2em;
   
   width: 100%;
    padding: 0.625em;
    color: #000;
    font-family: sourcesans;
    
    border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    box-shadow: 0px 2px 2px #000;
        -moz-box-shadow: 0px 2px 2px #000;   
        -webkit-box-shadow: 0px 2px 2px #000;
        background-color: #cccccc;
    
}

#formComentario #miComentario{
    width: 100%;
    
    display: block;
}

#articleComentario #tituloComentarios{
    
    font-size: 1.35em;
    margin-bottom: 1.20em;
    margin-left: 0.625em;
    
}
#articleComentario #formComentario .btnFormularioComentario{
    margin-top: 0.5em;
    
}

#articleComentario #formComentario{
    width: 80%;
    margin: auto;
    text-align: right;
}

#articleComentario #todosComentarios{
    
    width: 99%;
    
    margin-top: 0.625em;
    
}

#articleComentario .comentario{
    
    
   width: 97%;
    padding: 0.625em;
    color: #000;
    font-family: sourcesans;
    border-top: solid 2px #ffffff;
    
}

#articleComentario .comentario #textoComentario{
    width: 99%;
    
}

#articleComentario .comentario #nombreUsuario{
    width: 99%;
    color: #0033cc;
    font-size: 1.2em;
    margin-bottom: 0.31em;
}


 /*********************RESPONSIVE DESIGN**********************/
  
/* Tableta 768 verticale*/
@media screen and (max-width: 768px){
    
    #galeria{ 
        display: block;
       width: 80%;
       margin: 0.9em auto;
       
  }
  
  #detallesEvento article #lista{
    width: 73%;
    display:block;
    margin: auto;
     
  }
  
  #detallesEvento article #descripcion{
     width: 95%;
     margin: auto;
  }
    
   #detallesEvento{
    width: 100%;       
}

section#comentarios{
    width: 100%;
           
}

#detallesEvento article .imag{
      width: 100%;
  }

}

/* Móviles menores 450*/
@media screen and (max-width: 450px){
    
    #lightbox-container-image-box {
  width: 90% !important;
  height: auto !important;
  
}
#lightbox-container-image-data-box {
  width: 90% !important;
}
#lightbox-image {
  /*height: 440px;*/
  width: 100%;
}

#articleComentario #formComentario{
    width: 90%;
   
}


  
}
@media screen and (max-width: 350px){
    
    #detallesEvento article #descripcion{
      text-align: left;
       
  }
  
  #iconos #tdBlanco{
    width: 0%;
    
    }
    
    #iconos td{
    text-align: center;
    
    }
}

/* Móviles menores 317*/
@media screen and (max-width: 317px){
    
    #galeria{ 
      
       width: 96%;
      margin: auto;
      margin-bottom: 0.5em;
       
  }
  
   #lightbox-container-image-box {
  width: 95% !important;
  height: auto !important;
  
}
#lightbox-container-image-data-box {
  width: 95% !important;
}
#lightbox-image {
  /*height: 440px;*/
  width: 100%;
}
  
#detallesEvento article #lista{
    width: 90%;
     
  }
  
#detallesEvento article #descripcion{
     width: 98%;
     padding: 0.3em 0.6em;
     
  }
 
  #detallesEvento article .titulo{
      font-size: 1em;
      width: 97%;
      margin: auto;
      margin-bottom: 0.5em;
  }
  
  #iconos {
      
      width: 85%;
  }
  
  #articleComentario #formComentario{
    width: 98%;
   
}

#articleComentario #tituloComentarios{
    
    font-size: 1.15em;
    margin-bottom: 0.9em;
    
    
}
}
    
